@model ProyectoMancariBlue.Models.Obj.Empleado

@{
    ViewData["Title"] = "EditarAdmin";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Editar Administrador</h1>
        <p>Administradores</p>

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Administradores</li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Editar Administrador</h3>
        <div class="tile-body">
            <form asp-action="EditarAdmin" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" disabled />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellidos" class="control-label"></label>
                            <input asp-for="Apellidos" class="form-control" disabled />
                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Puesto" class="control-label"></label>
                            <input asp-for="Puesto" class="form-control" disabled />
                            <span asp-validation-for="Puesto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Correo" class="control-label"></label>
                            <input asp-for="Correo" class="form-control" disabled />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdRol" class="control-label">Roles</label>
                            <select asp-for="IdRol" class="form-control" asp-items="ViewBag.Roles"></select>
                            <span asp-validation-for="IdRol" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Editar</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="javascript:history.back();"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        // Función para mostrar u ocultar la previsualización de la imagen
        function actualizarPrevisualizacion() {
            var fileInput = document.getElementById('Imagen');
            var previsualizacionContainer = document.getElementById('previsualizacionContainer');
            var imgPrevisualizacion = document.getElementById('imagenPrevisualizacion');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPrevisualizacion.setAttribute('src', e.target.result);
                }
                reader.readAsDataURL(fileInput.files[0]);
                previsualizacionContainer.style.display = 'block';
            } else {
                imgPrevisualizacion.setAttribute('src', '#');
                previsualizacionContainer.style.display = 'none';
            }
        }

        // Asignar los eventos change y load al input de tipo file
        var imagenInput = document.getElementById('Imagen');
        imagenInput.addEventListener('change', actualizarPrevisualizacion);
        imagenInput.addEventListener('load', actualizarPrevisualizacion);
    </script>

}