@{
    ViewData["Title"] = "EditarEmpleado";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Editar Empleado</h1>
        <p>Empleados</p>

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Empleados</li>

    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Editar Empleado</h3>
        <div class="tile-body">
            <form asp-action="Index" asp-controller="Empleado" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Cedula</label>
                            <input class="form-control" value="1-1492-0416"  disabled />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input class="form-control" value="Josue" />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Apellidos</label>
                            <input class="form-control" value="Rojas Chaves" />
 
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nacionalidad</label>
                            <input class="form-control" value="Costarricense" />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Correo</label>
                            <input class="form-control" value="svcrove@outlook.com" />
 
                        </div>
                        <div class="form-group">
                            <label class="control-label">Edad</label>
                            <input class="form-control" value="32" disabled />

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Provincia</label>
                            <input class="form-control" value="San Jose" />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Canton</label>
                            <input class="form-control" value="Desamparados" />
   
                        </div>
                        <div class="form-group">
                            <label class="control-label">Distrito</label>
                            <input class="form-control" value="San Rafael Abajo" />
 
                        </div>
                        <div class="form-group">
                            <label class="control-label">Puesto</label>
                            <input class="form-control" value="Adminsitrador" />

                        </div>
                        <div class="form-group">
                            <label class="control-label">Fecha de Ingreso</label>
                            <input type="date" class="form-control" value="2024-02-15" disabled />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Salario</label>
                            <input class="form-control" value="$1800" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Saldo Vacaciones</label>
                            <input class="form-control" value="20" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Editar</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="javascript:history.back();"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>