@model ProyectoMancariBlue.Models.Obj.EmpleadoInicio

@{
    ViewData["Title"] = "Login";
    Layout = "LoginLayout";
}

<div class="login-box">
    <form class="login-form" asp-action="Login" method="post">
        <h2 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Iniciar Sesion</h2>
        <div class="form-group">
            <label asp-for="EmpleadoLogin.Empleado" class="control-label"></label>
            <input asp-for="EmpleadoLogin.Empleado" class="form-control" placeholder="Numero de cedula o correo" />
            <span asp-validation-for="EmpleadoLogin.Empleado" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmpleadoLogin.Contrasena" class="control-label"></label>
            <input asp-for="EmpleadoLogin.Contrasena" type="password" class="form-control" placeholder="*******" />
            <span asp-validation-for="EmpleadoLogin.Contrasena" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="utility">
                <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Olvido su contraseña?</a></p>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewData["ReturnUrl"] as string))
        {
            <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
        }
        <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>Inciar Sesión</button>
        </div>
    </form>
    <form class="forget-form" asp-action="RestablecerContrasena" method="post">
        <h5 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Restablecer Contraseña</h5>
        <div class="form-group">
            <label asp-for="RestorePassword.Cedula" class="control-label"></label>
            <input asp-for="RestorePassword.Cedula" class="form-control" placeholder="123456789" />
            <span asp-validation-for="RestorePassword.Correo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RestorePassword.Correo" class="control-label"></label>
            <input asp-for="RestorePassword.Correo" class="form-control" placeholder="ejemplo@gmail.com" />
            <span asp-validation-for="RestorePassword.Cedula" class="text-danger"></span>
        </div>
        <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>Restablecer</button>
        </div>
        <div class="form-group mt-3">
            <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Volver al Login</a></p>
        </div>
    </form>
</div>
@section Scripts
{
    <script>
        $('.login-content [data-toggle="flip"]').click(function () {
            $('.login-box').toggleClass('flipped');
            return false;
        });
    </script>

}