@model ProyectoMancariBlue.Models.Obj.Empleado

@{
    ViewData["Title"] = "VerAdministrador";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Detalle de Administrador</h1>
        <p>Administradores</p>

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Administradores</li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Detalle de Administrador</h3>
        <div class="tile-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Cedula" class="control-label">Cédula</label>
                        <input asp-for="Cedula" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label">Nombre</label>
                        <input asp-for="Nombre" class="form-control" readonly />
                    </div>
                 @*    <div class="form-group">
                        <label asp-for="Apellidos" class="control-label">Apellidos</label>
                        <input asp-for="Apellidos" class="form-control" readonly />
                    </div> *@
                    <div class="form-group">
                        <label asp-for="Correo" class="control-label">Correo</label>
                        <input asp-for="Correo" class="form-control" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Puesto" class="control-label">Puesto</label>
                        <input asp-for="Puesto" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="FechaIngreso" class="control-label">Fecha de Ingreso</label>
                        <input asp-for="FechaIngreso" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Rol.Descripcion" class="control-label">Rol</label>
                        <input asp-for="@Model.Rol.Descripcion" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a asp-action="GetAdmins" class="btn btn-secondary mt-3">Regresar a la Lista</a>
            </div>
        </div>
    </div>
</div>