@{
    ViewData["Title"] = "VerAdministrador";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Detalle de Administrador</h1>
        <p>Administradores</p>

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Administradores</li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Detalle de Administrador</h3>
        <div class="tile-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cedula</label>
                        <input class="form-control" value="1-1492-0416" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input class="form-control" value="Josue" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Apellidos</label>
                        <input class="form-control" value="Rojas Chaves" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Puesto</label>
                        <input class="form-control" value="Adminsitrador" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Puesto</label>
                        <input class="form-control" value="Ganadero" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de Ingreso</label>
                        <input type="date" class="form-control" value="2024-02-04" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Rol</label>
                        <input class="form-control" value="Rol 2" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-secondary" href="javascript:history.back();"><i class="fa fa-fw fa-lg fa-times-circle"></i>Regresar</a>
            </div>
        </div>
    </div>
</div>