@{
    ViewData["Title"] = "VerEmpleado";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Detalle de Empleado</h1>
        <p>Empleados</p>

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Empleados</li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Detalle de Empleado</h3>
        <div class="tile-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cédula</label>
                        <input class="form-control" value="1-1492-0416" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input class="form-control" value="Josue" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Apellidos</label>
                        <input class="form-control" value="Rojas Chaves" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nacionalidad</label>
                        <input class="form-control" value="Costarricense" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Correo</label>
                        <input class="form-control" value="svcrove@outlook.com" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Edad</label>
                        <input class="form-control" value="32" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Provincia</label>
                        <input class="form-control" value="San Jose" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cantón</label>
                        <input class="form-control" value="Desamparados" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Distrito</label>
                        <input class="form-control" value="San Rafael Abajo" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Puesto</label>
                        <input class="form-control" value="Adminsitrador" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de Ingreso</label>
                        <input type="date" class="form-control" value="02/04/2024" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Salario</label>
                        <input class="form-control" value="$1800" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Saldo Vacaciones</label>
                        <input class="form-control" value="20" readonly />
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="form-group">
                   <a class="btn btn-secondary" href="javascript:history.back();"><i class="fa fa-fw fa-lg fa-times-circle"></i>Regresar</a>
                </div>
        </div>
    </div>
</div>