@{
    ViewData["Title"] = "Animales";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Administración de Animales</h1>
        <p>Animales</p>
        <br>
        <a asp-action="CrearAnimal" asp-controller="Animal" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Crear Animal</a>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Animales</li>
    </ul>
</div>
<div class="row" style="flex-direction:column">
    <div class="col-md-14">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tanimales">
                        <thead>
                            <tr>
                                <th>
                                    Código
                                </th>
                                <th>
                                   Madre
                                </th>
                                <th>
                                    Padre
                                </th>
                                <th>
                                  Genero
                                </th>
                                <th>
                                    Peso (KG)
                                </th>
                                <th>
                                  Raza
                                </th>
                                <th>
                                    Vacunacion
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    0003
                                </td>
                                <td>
                                    0001
                                </td>
                                <td>
                                    0002
                                </td>
                                <td>
                                    Hembra
                                </td>
                                <td>
                                   86
                                </td>
                                <td>
                                    Raza 1
                                </td>
                                <td style="text-align:center">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="EditarAnimal" asp-controller="Animal">Editar</a>
                                    <a class="btn btn-info" asp-action="VerAnimal" sp-controller="Animal">Detalle</a>
                                    <a class="btn btn-danger cambiar-estado-btn" href="#">Cambiar Estado</a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#tanimales').DataTable();</script>
    <script>

        $(document).ready(function () {
            $('.cambiar-estado-btn').click(function (e) {
                e.preventDefault();

                var id = $(this).data('id');

                // Mostrar confirmación con SweetAlert2
                Swal.fire({
                    title: 'Confirmación',
                    text: '¿Estás seguro de que deseas cambiar el estado?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la llamada AJAX si se confirma la acción
                        $.ajax({
                            url: '@Url.Action("Index", "Animal")',
                            type: 'GET',
                            success: function (response) {
                                // Mostrar mensaje de éxito con SweetAlert2
                                Swal.fire('Éxito', 'El estado ha sido cambiado correctamente.', 'success').then(function () {
                                    // Recargar la página
                                    location.reload();
                                });
                            },
                            error: function (xhr, status, error) {
                                // Mostrar mensaje de error con SweetAlert2
                                Swal.fire('Error', 'Ha ocurrido un error al cambiar el estado.', 'error');
                                console.error('Error:', error);
                            }
                        });
                    }
                });
            });
        });

    </script>

}
