@{
    ViewData["Title"] = "VerAnimal";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Ver Animales</h1>
        <p>Animales</p>

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Animales</li>
    </ul>
</div>
<div class="col-md-12">
<div class="tile">
    <h3 class="tile-title">Detalle de Animal</h3>
    <div class="tile-body">
        <form asp-action="Index" asp-controller="Animal" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Código</label>
                        <input class="form-control" value="003" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Padre</label>
                        <input class="form-control" value="002" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Madre</label>
                        <input class="form-control" value="001" disabled />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Raza</label>
                            <input class="form-control" value="Raza 1" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label d-block">Género</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genero" id="genero_hembra" value="hembra" checked disabled>
                            <label class="form-check-label" for="genero_hembra">Hembra</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="genero" id="genero_macho" value="macho">
                            <label class="form-check-label" for="genero_macho">Macho</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Partos Registrados</label>
                        <input class="form-control" value="2" disabled>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Peso(KG)</label>
                        <input class="form-control" value="72" disabled />
          
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" value="2024-01-01" disabled />
                    </div>
                </div>
            </div>

                <hr>
                <h3 class="tile-title">Historico Vacunas</h3>
                <div class="row" style="flex-direction:column">
                    <div class="col-md-12">
                        <div class="tile">
                            <div class="tile-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered" id="tvacunas">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Fecha Aplicación
                                                </th>
                                                <th>
                                                    Nombre Vacuna
                                                </th>
                                                <th>
                                                    Categoría Vacuna
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    15/01/2024
                                                </td>
                                                <td>
                                                    Vacuna 1
                                                </td>
                                                <td>
                                                    Desparacitante
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    30/01/2024
                                                </td>
                                                <td>
                                                    Vacuna 2
                                                </td>
                                                <td>
                                                    Desparacitante
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="form-group">
                <a class="btn btn-secondary" href="javascript:history.back();"><i class="fa fa-fw fa-lg fa-times-circle"></i>Regresar</a>
            </div>
        </form>
    </div>
</div>
</div>