@{
    ViewData["Title"] = "Index";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-dashboard"></i> Inicio</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Inicio</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="info">
                <h4>Empleados</h4>
                <p><b>7</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-id-card fa-3x"></i>
            <div class="info">
                <h4>Animales</h4>
                <p><b>36</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-calendar fa-3x"></i>
            <div class="info">
                <h4>Inventario</h4>
                <p><b>102</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-map fa-3x"></i>
            <div class="info">
                <h4>Transacciones</h4>
                <p><b>42</b></p>
            </div>
        </div>
    </div>
</div>