@{
    ViewData["Title"] = "CrearProducto";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Crear Producto</h1>
        <p>Productos</p>

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Productos</li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Crear Productos</h3>
        <div class="tile-body">
            <form asp-action="Index" asp-controller="Inventario" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Código</label>
                            <input class="form-control" />
                            <span class="text-danger">Campo requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                            <input class="form-control"/>
                            <span class="text-danger">Campo requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descripción</label>
                            <input class="form-control" id="puestoInput" />
                            <span class="text-danger">Campo requerido</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Categoría</label>
                            <select class="form-control">
                                <option value="">Seleccionar...</option>
                                <option value="Desparacitante">Desparasitante</option>
                                <option value="Analgésico">Analgésico</option>
                                <option value="Sumplemento">Suplemento</option>
                            </select>
                            <span class="text-danger">Campo requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Proveedor</label>
                            <select class="form-control">
                                <option value="">Seleccionar...</option>
                                <option value="Proveedor 1">Proveedor 1</option>
                                <option value="Proveedor 2">Proveedor 2</option>
                                <option value="Proveedor 3">Proveedor 3</option>
                            </select>
                            <span class="text-danger">Campo requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Stock</label>
                            <input class="form-control" id="puestoInput" />
                            <span class="text-danger">Campo requerido</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Crear</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="javascript:history.back();"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        // Función para mostrar u ocultar la previsualización de la imagen
        function actualizarPrevisualizacion() {
            var fileInput = document.getElementById('Imagen');
            var previsualizacionContainer = document.getElementById('previsualizacionContainer');
            var imgPrevisualizacion = document.getElementById('imagenPrevisualizacion');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPrevisualizacion.setAttribute('src', e.target.result);
                }
                reader.readAsDataURL(fileInput.files[0]);
                previsualizacionContainer.style.display = 'block';
            } else {
                imgPrevisualizacion.setAttribute('src', '#');
                previsualizacionContainer.style.display = 'none';
            }
        }

        // Asignar los eventos change y load al input de tipo file
        var imagenInput = document.getElementById('Imagen');
        imagenInput.addEventListener('change', actualizarPrevisualizacion);
        imagenInput.addEventListener('load', actualizarPrevisualizacion);
    </script>


}