@{
    ViewData["Title"] = "EditarProveedor";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Editar Proveedor</h1>
        <p>Proveedores</p>

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Proveedores</li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Editar Proveedor</h3>
        <div class="tile-body">
            <form asp-action="Index" asp-controller="Proveedor" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Código</label>
                            <input class="form-control" value="001-P" disabled />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Identificación</label>
                            <input class="form-control" value="3-123-3233" />
                            <span class="text-danger">Campo requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Proveedor</label>
                            <input class="form-control" value="Proveedor 1" />
                            <span class="text-danger">Campo requerido</span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label">Teléfono</label>
                            <input class="form-control" value="Telefono 1" />
                            <span class="text-danger">Campo requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Correo</label>
                            <input class="form-control" value="Correo1" />
                            <span class="text-danger">Campo requerido</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Categoría</label>
                            <select class="form-control">
                                <option value="">Seleccione una categoría</option>
                                <option value="categoria1">Categoria 1</option>
                                <option value="categoria2">Categoria 2</option>
                                <option value="categoria3">Categoria 3</option>
                            </select>
                            <span class="text-danger">Campo requerido</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Editar</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="javascript:history.back();"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>


}