@{
    ViewData["Title"] = "Reportes";
}
@functions {
    string NombreCompleto(string n, string a)
    {
        return n + " " + a;

    }

}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Administración de Reportes</h1>
        <p>Reportes</p>
        <br>
        <a asp-action="CrearReporte" asp-controller="Reporte" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Crear Reporte</a>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Reportes</li>
    </ul>
</div>
<div class="row" style="flex-direction:column">
    <div class="col-md-14">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="treportes">
                        <thead>
                            <tr>
                                <th>
                                    Código CVO
                                </th>
                                <th>
                                    Código Transporte
                                </th>
                                <th>
                                   Transacción
                                </th>
                                <th>
                                    Identificación
                                </th>
                                <th>
                                    Nombre Cliente
                                </th>
                                <th>
                                   Ganado
                                </th>
                                <th>
                                   Fecha Venta
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    CVO-001
                                </td>
                                <td>
                                    TR00-1
                                </td>
                                <td>
                                   001-T
                                </td>
                                <td>
                                    3-12321-2323
                                </td>
                                <td>
                                    Cliente 1
                                </td>
                                <td>
                                    001
                                </td>
                                <td>
                                  04/01/2024
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="EditarReporte" asp-controller="Reporte">Editar</a>
                                    <a class="btn btn-info" asp-action="VerReporte" asp-controller="Reporte">Detalle</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CVO-002
                                </td>
                                <td>
                                    TR00-2
                                </td>
                                <td>
                                    002-T
                                </td>
                                <td>
                                    3-12321-2323
                                </td>
                                <td>
                                    Cliente 2
                                </td>
                                <td>
                                    002
                                </td>
                                <td>
                                    15/01/2024
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="EditarReporte" asp-controller="Reporte">Editar</a>
                                    <a class="btn btn-info" asp-action="VerReporte" asp-controller="Reporte">Detalle</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#treportes').DataTable();</script>
    <script>

        $(document).ready(function () {
            $('.cambiar-estado-btn').click(function (e) {
                e.preventDefault();

                var id = $(this).data('id');

                // Mostrar confirmación con SweetAlert2
                Swal.fire({
                    title: 'Confirmación',
                    text: '¿Estás seguro de que deseas cambiar el estado?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la llamada AJAX si se confirma la acción
                        $.ajax({
                            url: '@Url.Action("Index", "Empleado")',
                            type: 'GET',
                            success: function (response) {
                                // Mostrar mensaje de éxito con SweetAlert2
                                Swal.fire('Éxito', 'El estado ha sido cambiado correctamente.', 'success').then(function () {
                                    // Recargar la página
                                    location.reload();
                                });
                            },
                            error: function (xhr, status, error) {
                                // Mostrar mensaje de error con SweetAlert2
                                Swal.fire('Error', 'Ha ocurrido un error al cambiar el estado.', 'error');
                                console.error('Error:', error);
                            }
                        });
                    }
                });
            });
        });

    </script>

}